@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

button {
  cursor: pointer;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h1, h2 {
  font-family: "Source Serif Pro", serif;
}

h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 53px;
  color: #1A1A1A;
  margin-bottom: 9px;
}

h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #1A1A1A;
}

h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #1A1A1A;
}

h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 45px;
  color: #1A1A1A;
}

h6 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #1A1A1A;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #1A1A1A;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1210px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.main__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 14px 24px;
  background: #FFFFFF;
  border: 2px solid #CC6666;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1A1A1A;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main__btn svg {
  margin-right: 14px;
}
.main__btn path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main__btn:hover {
  background: #CC6666;
  color: #FFFFFF;
}
.main__btn:hover path {
  fill: #FFFFFF;
}

.btn2 {
  padding: 12px;
  background: #CC6666;
  border-radius: 4px;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn2 svg {
  margin-left: 9px;
}

.btn2:hover {
  background: #ac4d4d;
}

.modal {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.77);
  padding: 200px 15px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.modal h5 {
  width: 100%;
  line-height: 24px;
  font-family: "Source Serif Pro", sans-serif;
  text-align: center;
  margin-bottom: 19px;
}
.modal h6 {
  width: 100%;
  font-weight: 400;
  text-align: center;
  margin-bottom: 19px;
}
.modal .btn2 {
  padding: 12px 23px 9px 23px;
  font-size: 14px;
  line-height: 21px;
}
.modal .close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
  border: 0;
  background: transparent;
}
.modal .close::after {
  content: "";
  width: 16px;
  height: 2px;
  background: #1A1A1A;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.modal .close::before {
  content: "";
  width: 16px;
  height: 2px;
  background: #1A1A1A;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.modal.active {
  display: block;
}

.modal.opacity {
  opacity: 1;
}
.modal.opacity .modal__block {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.modal__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  padding: 34px 34px 30px 34px;
  background: #FFFFFF;
  border-radius: 4px;
  position: relative;
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.modal__input {
  width: calc(50% - 4px);
  margin-bottom: 10px;
}
.modal__input input {
  width: 100%;
  padding: 13px;
  border: 1px solid #000000;
  border-radius: 4px;
  background: transparent;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #1A1A1A;
}

.modal__btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal__btn a {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #1A1A1A;
  margin-top: 13px;
}

.header {
  background: #FFFFFF;
}

.header.fixed .header__bottom {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
}

.header__fixed {
  min-height: 53px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 140px;
  height: 88px;
}
.header__logo img {
  width: 100%;
}

.header__call {
  padding: 11px 28px 12px 20px;
}

.header__email {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header__email svg {
  min-width: 18px;
}

.header__email:hover {
  color: #CC6666;
}

.header__map svg {
  min-width: 15px;
}

.header__email, .header__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1A1A1A;
}
.header__email svg, .header__map svg {
  margin-right: 8px;
}

.header__top {
  padding: 17px 0 14px 0;
  border-bottom: 1px solid #D1CDCD;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__bottom {
  padding: 10px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__navbar li {
  margin-right: 8px;
}
.header__navbar a {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #1A1A1A;
  padding: 6px 24px;
  position: relative;
}
.header__navbar a::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #CC6666;
  position: absolute;
  bottom: -1px;
  left: 0;
  opacity: 0;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__navbar a::before {
  content: "";
  width: 100%;
  height: 2px;
  background: #CC6666;
  position: absolute;
  top: -1px;
  left: 0;
  opacity: 0;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__navbar a:hover::after, .header__navbar a:hover::before {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__phone .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 33px;
}
.header__phone a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 33px;
  color: #1A1A1A;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header__phone a svg {
  margin-right: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header__phone a:hover {
  color: #CC6666;
}
.header__phone a:hover svg {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.banner {
  background: url(../img/banner.png) no-repeat center/cover;
}
.banner .container {
  min-height: 618px;
  position: relative;
}
.banner h2 {
  margin-bottom: 8px;
}

.banner-bottom .container {
  min-height: 468px;
}

.banner__woman {
  position: absolute;
  right: 200px;
  bottom: 0;
}

.banner__wrap {
  padding-top: 33px;
  padding-bottom: 30px;
}
.banner__wrap h1 {
  max-width: 930px;
  width: 100%;
  position: relative;
  z-index: 2;
}
.banner__wrap h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #CC6666;
  margin-bottom: 18px;
  position: relative;
  z-index: 2;
}
.banner__wrap ul {
  position: relative;
  z-index: 2;
}
.banner__wrap li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}
.banner__wrap li svg {
  margin-right: 14px;
}
.banner__wrap li:last-child {
  margin-bottom: 0;
}

.banner__form {
  max-width: 450px;
  width: 100%;
  padding: 22px 23px 13px 23px;
  background: #1A1A1A;
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.banner__form p {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  color: #FFFFFF;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 16px;
}
.banner__form .input {
  width: calc(50% - 4px);
  margin-bottom: 8px;
}
.banner__form .btn2 {
  width: 100%;
  margin-bottom: 10px;
}
.banner__form span {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.banner__form span a {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #666666;
}

.input input {
  width: 100%;
  background: #D9D9D9;
  border-radius: 4px;
  padding: 12px 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #1A1A1A;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.input input:focus {
  background: #FFFFFF;
}

.doors .container {
  padding-top: 37px;
  padding-bottom: 45px;
}
.doors h2 {
  text-align: center;
}
.doors h4 {
  margin-bottom: 50px;
  text-align: center;
}

.doors__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.doors__img {
  max-width: 728px;
  width: 100%;
}
.doors__img img {
  width: 100%;
}

.doors__wrap {
  max-width: 422px;
  width: 100%;
}

.doors__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}
.doors__check svg {
  min-width: 40px;
  margin-right: 43px;
}
.doors__check p {
  margin-top: -8px;
}

.services {
  border-top: 1px solid #D1CDCD;
}
.services h2 {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 26px;
}
.services .container {
  padding-top: 32px;
  padding-bottom: 45px;
}

.services__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.services__block {
  min-height: 314px;
  background: #FFFFFF;
  border: 1px solid #D1CDCD;
  border-radius: 4px;
  position: relative;
  padding-left: 29px;
  padding-right: 29px;
  padding-bottom: 77px;
  overflow: hidden;
  text-align: center;
}
.services__block .main__btn {
  position: absolute;
  bottom: 17px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.services__img {
  width: calc(100% + 60px);
  margin-left: -30px;
  min-height: 176px;
  position: relative;
  overflow: hidden;
  margin-bottom: 19px;
}
.services__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.services__block:hover .services__img img {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.advantages {
  background: #FFFFFF;
  border-width: 2px 0px 0px 0px;
  border-style: solid;
  border-color: #D1CDCD;
}
.advantages h2 {
  text-align: center;
  margin-bottom: 44px;
}
.advantages .container {
  padding-top: 37px;
  padding-bottom: 45px;
}

.advantages__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__block {
  max-width: 180px;
  width: 100%;
}
.advantages__block h6 {
  text-align: center;
}

.advantages__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 16px;
}
.advantages__icon path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.advantages__block:hover .advantages__icon path {
  fill: #ff9c9c;
}

.company {
  background: #F9F9F9;
  border-width: 2px 0px;
  border-style: solid;
  border-color: #D1CDCD;
}
.company h2 {
  text-align: center;
  margin-bottom: 40px;
}
.company .container {
  padding-top: 38px;
  padding-bottom: 58px;
}

.company__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFFFFF;
  border-left: 2px solid #CC6666;
  margin-bottom: 38px;
  padding: 11px 12px 11px 28px;
}

.company__content {
  max-width: 699px;
  width: 100%;
  padding: 55px 0 46px 0;
}
.company__content h5 {
  font-weight: 400;
  margin-bottom: 18px;
}
.company__content p {
  margin-bottom: 18px;
}
.company__content p:last-child {
  margin-bottom: 0;
}

.company__img {
  max-width: 430px;
  width: 100%;
  min-height: 274px;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}
.company__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.company__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.company__block {
  padding: 0 50px;
}
.company__block h6 {
  font-weight: 600;
  text-align: center;
}

.company__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Source Serif Pro", sans-serif;
}
.company__num p {
  font-weight: 600;
  font-size: 24px;
  line-height: 43px;
  margin-right: 21px;
  color: #CC6666;
  padding-top: 20px;
}
.company__num span {
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 84px;
  color: #CC6666;
}

.products h2 {
  text-align: center;
  margin-bottom: 30px;
}
.products .container {
  padding-top: 37px;
  padding-bottom: 45px;
}

.products__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.products__block {
  min-height: 522px;
  background: #F9F9F9;
  border: 1px solid #B5AEAE;
  overflow: hidden;
  text-align: center;
  position: relative;
  padding-bottom: 90px;
}
.products__block h3 {
  padding: 0 5px;
}
.products__block .main__btn {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 12px 24px;
}

.products__img {
  min-height: 387px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
.products__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.products__block:hover .products__img img {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.contacts {
  background: #F9F9F9;
  border-width: 2px 0px;
  border-style: solid;
  border-color: #D1CDCD;
}
.contacts h2 {
  text-align: center;
  margin-bottom: 32px;
}
.contacts .container {
  padding-top: 48px;
  padding-bottom: 28px;
}

.contacts__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__block {
  max-width: 280px;
  width: 100%;
}
.contacts__block h6 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #1A1A1A;
}
.contacts__block a, .contacts__block p {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #1A1A1A;
  text-align: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.contacts__block a:hover {
  color: #CC6666;
}

.contacts__icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 48px;
  margin-bottom: 47px;
}

.map iframe {
  width: 100%;
  min-height: 487px;
  border: 0;
}

.footer {
  background: #1A1A1A;
  padding-bottom: 30px;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 140px;
  height: 88px;
}
.footer__logo img {
  width: 100%;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 0;
}

.footer__email {
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.footer__email svg {
  min-width: 18px;
}

.footer__email:hover {
  color: #CC6666;
}

.footer__map svg {
  min-width: 15px;
}

.footer__email, .footer__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.footer__email svg, .footer__map svg {
  margin-right: 8px;
}

.footer__call {
  background: transparent;
  color: #FFFFFF;
  padding: 11px 28px 12px 20px;
}
.footer__call path {
  fill: #FFFFFF;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__copy {
  width: 33%;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer__kon {
  width: 33%;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #666666;
}

.header__burgir {
  display: none;
}

@media screen and (max-width: 768px) {
  section {
    display: none;
  }
  .header__fixed {
    min-height: 54px;
  }
  .header__burgir {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 21px;
    height: auto;
    background: #CC6666;
    border: 0;
    border-radius: 4px;
    padding: 4px;
  }
  .header__burgir span {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: #FFFFFF;
    margin: 1.2px 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__burgir.active span:nth-child(2) {
    opacity: 0;
  }
  .header__burgir.active span:nth-child(1) {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
  }
  .header__burgir.active span:nth-child(3) {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  .header__burgir.rotate span:nth-child(1) {
    -webkit-transform: translateY(4px) rotate(45deg);
            transform: translateY(4px) rotate(45deg);
  }
  .header__burgir.rotate span:nth-child(3) {
    -webkit-transform: translateY(-4px) rotate(-45deg);
            transform: translateY(-4px) rotate(-45deg);
  }
  .modal {
    padding: 100px 15px;
  }
  .modal h5 {
    margin-bottom: 16px;
  }
  .modal__input {
    width: 100%;
  }
  .modal .btn2 {
    width: 100%;
    height: 50px;
  }
  .header__navbar {
    width: 100%;
    height: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9;
    background: #FFFFFF;
    overflow: hidden;
  }
  .header__navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__navbar li {
    margin: 0;
  }
  .header__navbar a {
    display: block;
    width: 100%;
    padding: 8px 15px;
    font-size: 14px;
    line-height: 16px;
    border-top: 1px solid #D1CDCD;
  }
  .header__navbar li:last-child a {
    border-bottom: 1px solid #D1CDCD;
  }
  .header__navbar.open {
    height: auto;
  }
  .header__top {
    padding: 26px 0 24px 0;
    border: 0;
    position: relative;
  }
  .header__top .header__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__top::after {
    content: "";
    width: calc(100% - 30px);
    height: 1px;
    background: #D1CDCD;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .header__logo {
    margin: 0 auto;
    margin-bottom: 24px;
  }
  .header__center {
    margin-bottom: 24px;
  }
  .header__email, .header__map {
    font-size: 14px;
    line-height: 18px;
  }
  .header__bottom {
    padding: 16px 0 14px 0;
    position: relative;
  }
  .header__phone {
    width: calc(100% - 22px);
    padding-left: 17px;
  }
  .header__phone a {
    font-size: 12px;
    line-height: 24px;
  }
  .header__phone a svg {
    min-width: 12px;
    width: 12px;
    height: 12px;
    margin-right: 5px;
  }
  .header__phone .wrap {
    margin: 0;
    margin-right: 9px;
  }
  .header__phone .wrap:last-child {
    margin-right: 0;
  }
  .header__phone .wrap:last-child {
    margin-right: 0;
  }
  .banner {
    display: block;
    background: #FFFFFF;
  }
  .banner .container {
    padding: 0;
  }
  .banner h1 {
    text-align: center;
  }
  .banner .banner__woman {
    display: none;
  }
  .banner__wrap {
    padding: 0;
  }
  .banner__block {
    background: url(../img/banner-mobile.png) no-repeat center/cover;
    padding: 33px 15px;
  }
  .banner__form {
    margin-top: 0;
    padding: 27px 26px 32px 26px;
  }
  .banner__form p {
    margin-bottom: 13px;
  }
  h1 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .banner__wrap h6 {
    background: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 30px;
    padding: 26px 20px 16px 20px;
    text-align: center;
  }
  .banner-bottom h2 {
    max-width: 290px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .banner-bottom .banner__block {
    padding-bottom: 288px;
    position: relative;
  }
  .banner-bottom .banner__wrap h6 {
    width: calc(100% - 30px);
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .banner-bottom .banner__woman {
    width: 209px;
    display: block;
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .banner__form .input {
    width: 100%;
  }
  .doors {
    display: block;
  }
  .doors h2 {
    margin-bottom: 9px;
  }
  .doors h4 {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 32px;
  }
  h2 {
    font-size: 30px;
    line-height: 43px;
  }
  h4 {
    font-size: 18px;
    line-height: 23px;
  }
  h5 {
    font-size: 20px;
    line-height: 45px;
  }
  .doors__img {
    margin-bottom: 40px;
  }
  .doors__check svg {
    display: none;
  }
  .doors__check {
    margin-bottom: 6px;
  }
  .doors__check p {
    max-width: 300px;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }
  .services {
    display: block;
  }
  .services .container {
    padding-top: 40px;
    padding-bottom: 47px;
  }
  .services h2 {
    text-align: left;
    margin-bottom: 40px;
  }
  .services__box {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }
  .services__block {
    min-height: 314px;
    padding-bottom: 106px;
  }
  .services__block .main__btn {
    bottom: 43px;
  }
  .advantages {
    display: block;
  }
  .advantages .container {
    padding-bottom: 57px;
  }
  .advantages h2 {
    margin-bottom: 14px;
  }
  .advantages__block {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 24px;
  }
  .advantages__block:last-child {
    margin-bottom: 0;
  }
  .advantages__icon {
    min-width: 48px;
    margin-bottom: 0;
    margin-right: 15px;
  }
  .advantages__block h6 {
    text-align: left;
  }
  .company {
    display: block;
  }
  .company .container {
    padding-top: 40px;
    padding-bottom: 38px;
  }
  .company h2 {
    margin-bottom: 28px;
  }
  .company__wrap {
    padding: 32px 20px 28px 20px;
    margin-bottom: 36px;
  }
  .company__content {
    padding: 0;
    margin-bottom: 30px;
  }
  .company__img {
    min-height: 160px;
  }
  .company__block {
    width: 100%;
    margin-bottom: 20px;
  }
  .company__block:last-child {
    margin-bottom: 0;
  }
  .company__block h6 {
    margin-top: -10px;
  }
  .company__num p {
    margin-right: 16px;
  }
  .company__content h5 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 18px;
  }
  .company__content p {
    margin-bottom: 8px;
  }
  .products {
    display: block;
  }
  .products .container {
    padding-top: 32px;
    padding-bottom: 40px;
  }
  .products h2 {
    margin-bottom: 10px;
  }
  .products__box {
    max-width: 178px;
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  .products__box .slick-prev, .products__box .slick-next {
    width: 20px;
    height: 20px;
    z-index: 9;
  }
  .products__box .slick-prev::before, .products__box .slick-next::before {
    display: none;
  }
  .products__box .slick-prev::after, .products__box .slick-next::after {
    content: "";
    width: 15px;
    height: 15px;
    border: 4px solid #1A1A1A;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 2px;
  }
  .products__box .slick-prev::after {
    border-right: 0;
    border-top: 0;
  }
  .products__box .slick-next::after {
    border-left: 0;
    border-bottom: 0;
  }
  .products__box .slick-prev:hover::after, .products__box .slick-next:hover::after {
    border-color: #CC6666;
  }
  .products__block {
    min-height: 532px;
    max-width: 178px;
  }
  .contacts {
    display: block;
  }
  .contacts .container {
    padding-top: 32px;
    padding-bottom: 40px;
  }
  .contacts__block {
    max-width: 100%;
    position: relative;
    padding-left: 65px;
    margin-bottom: 40px;
  }
  .contacts__block h6 {
    max-width: 213px;
    width: 100%;
    text-align: left;
  }
  .contacts__block a, .contacts__block p {
    max-width: 213px;
    width: 100%;
    text-align: left;
  }
  .contacts__block:last-child {
    margin-bottom: 0;
  }
  .contacts__icon {
    width: 48px;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0;
  }
  .map {
    display: block;
  }
  .map iframe {
    min-height: 348px;
  }
  .footer {
    border-top: 1px solid #666666;
    padding-bottom: 40px;
  }
  .footer__logo {
    margin: 0 auto;
    margin-bottom: 32px;
  }
  .footer__wrap {
    padding: 24px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__email {
    margin-bottom: 13px;
  }
  .footer__map {
    max-width: 250px;
    width: 100%;
  }
  .footer__center {
    padding-bottom: 34px;
  }
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__copy {
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
  }
  .footer__kon {
    width: 100%;
  }
}